<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::layout-head"></head>
<body>

<!-- Header navigation -->
<nav th:insert="layout::layout-nav"></nav>

<main class="container">
  <!--Users list-->
  <div class="row mb-3">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Users</h1>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="user: ${users}">
          <div class="ms-2 me-auto">
            <div class="fw-bold" th:text="${user.name}">Name</div>
            <span th:text="${user.email}"></span>
          </div>
          <span th:each="role: ${user.roles}" class="badge bg-primary rounded-pill" th:text="${role}">Roles</span>
        </li>
      </ul>

    </div>
  </div>

  <!--Add user form-->
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Add user</h1>

      <form th:action="@{/admin/users}" method="post" th:object="${createUserDto}" class="form-horizontal">
        <fieldset>
          <div class="form-group mb-3">
            <label class="col-lg-3 control-label">Username</label>
            <div class="col-lg-9">
              <input th:field="*{username}" type="text" class="form-control" name="username"/>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              <input th:field="*{name}" type="text" class="form-control" name="name"/>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <input th:field="*{email}" type="text" class="form-control" name="email"/>
            </div>
          </div>
          <div class="form-group mb-3">
            <div th:each="role: ${roles}" class="form-check form-switch">
              <input th:field="*{roles}" class="form-check-input" type="checkbox" role="switch" th:id="${role.name}" th:value="${role.name}">
              <label class="form-check-label" th:for="${role.name}" th:text="${role.name}"></label>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-lg-3 control-label">Password</label>
            <div class="col-lg-9">
              <input th:field="*{passwordOriginal}" type="password" class="form-control" name="passwordOriginal"/>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-lg-3 control-label">Confirm password</label>
            <div class="col-lg-9">
              <input th:field="*{passwordConfirmation}" type="password" class="form-control" name="passwordConfirmation"/>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="col-lg-12 col-lg-offset-3">
              <button type="submit" class="btn btn-primary" name="button">Create</button>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</main>

</body>
</html>
