### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.mvn/
mvnw
mvnw.cmd

# "temporary" build files
/**/target

