<section>
  <sl-card class="card-actions">
    <div slot="header">
      Actions
      <sl-icon-button name="gear"></sl-icon-button>
    </div>
    <sl-button (click)="createRoles()">Create roles</sl-button>
    <sl-button (click)="createUsers()">Create users</sl-button>
  </sl-card>

</section>

<section>
  <p>Roles</p>
  <sl-card *ngFor="let role of roles$ | async">
    <pre>{{ role | json }}</pre>
  </sl-card>
</section>

<section>
  <p>Users</p>
  <sl-card *ngFor="let user of users$ | async">
    <pre>{{ user | json }}</pre>
  </sl-card>
</section>

<section>
  <router-outlet></router-outlet>
</section>
